::-webkit-scrollbar { width: 8px; height: 8px; }
    ::-webkit-scrollbar-track { background: #e5e7eb; }
    ::-webkit-scrollbar-thumb { background: #fb923c; border-radius: 4px; }
    ::-webkit-scrollbar-thumb:hover { background: #f97316; }

    .CodeMirror {
      height: auto;
      font-size: 13px;
      line-height: 1.5;
      padding: 0.75rem;
      border-radius: 0.75rem;
    }
    .cm-s-eclipse.CodeMirror {
      background-color: #f9fafb;
    }
    .cm-s-material.CodeMirror {
      background-color: #020617;
    }